# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/

# Ruff / Linters
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Environment
.env
